# Panda Introduction
---

## Series
Series objects can be used as 1Dimension NumPy arrays

### Learning objects
1. Making Series objects from python lists and dicts
2. Extracting indexes and values
3. Indexing Series objects implicitly and explicitly

In [10]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
You can create

SyntaxError: invalid syntax (<ipython-input-11-ea357c61c25c>, line 1)

You can easily create a Series from a list, and give it a name.

In [3]:
s = pd.Series([0,1,4,9,16,25],name='squares')
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

For listing values.

In [4]:
s.values

array([ 0,  1,  4,  9, 16, 25])

You can also show the indices by using index

In [5]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
s[0]

0

In [7]:
s[2]

4

You can also use standard slicing.

In [8]:
s[2:4]

2    4
3    9
Name: squares, dtype: int64

# DataFrames

Dataframes are a bit like arrays - they can store dimensional data.

In [17]:
presidents = pd.DataFrame([{'name':'Barack Obama','inauguration':2009,'birthyear':1961},
              {'name':'George W. Bush','inauguration':2001,'birthyear':1946},
              {'name':'Bill Clinton','birthyear':1946,'inauguration':1993},
              {'name':'George H. W. Bush','inauguration':1989,'birthyear':1924}])

In [18]:
presidents

   birthyear  inauguration               name
0       1961          2009       Barack Obama
1       1946          2001     George W. Bush
2       1946          1993       Bill Clinton
3       1924          1989  George H. W. Bush

The set_index function defines an index for the DataFrame. I think of this a bit like a primary key.

In [21]:
presidents_indexes = presidents.set_index('name')

In [22]:
presidents_indexes

                   birthyear  inauguration
name
Barack Obama            1961          2009
George W. Bush          1946          2001
Bill Clinton            1946          1993
George H. W. Bush       1924          1989

In [25]:
presidents_indexes.loc['Bill Clinton']

birthyear       1946
inauguration    1993
Name: Bill Clinton, dtype: int64

In [26]:
presidents_indexes.loc['Bill Clinton']['inauguration']

1993

In [28]:
presidents_fathers = pd.DataFrame([
    {'son':'Barack Obama','father':'Barack Obama, Sr.'},
    {'son':'George W. Bush','father':'George H. W. Bush'},
    {'son':'George H. W. Bush','father':'Prescott Bush'}
])

In [31]:
presidents_fathers

              father                son
0  Barack Obama, Sr.       Barack Obama
1  George H. W. Bush     George W. Bush
2      Prescott Bush  George H. W. Bush

In [32]:
pd.merge(presidents,presidents_fathers,left_on='name',right_on='son')

,birthyear,inauguration,name,father,son
0,1961,2009,Barack Obama,"Barack Obama, Sr.",Barack Obama
1,1946,2001,George W. Bush,George H. W. Bush,George W. Bush
2,1924,1989,George H. W. Bush,Prescott Bush,George H. W. Bush

Create a 1:1 join using the merge method.

In [33]:
pd.merge(presidents,presidents_fathers,left_on='name',right_on='son').drop('son',axis=1)

   birthyear  inauguration               name             father
0       1961          2009       Barack Obama  Barack Obama, Sr.
1       1946          2001     George W. Bush  George H. W. Bush
2       1924          1989  George H. W. Bush      Prescott Bush

To create left joins, add in the how='left' argument

In [34]:
pd.merge(presidents,presidents_fathers,left_on='name',right_on='son',how='left').drop('son',axis=1)

   birthyear  inauguration               name             father
0       1961          2009       Barack Obama  Barack Obama, Sr.
1       1946          2001     George W. Bush  George H. W. Bush
2       1946          1993       Bill Clinton                NaN
3       1924          1989  George H. W. Bush      Prescott Bush

# Aggregation